.manual_style {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers horizontally */
  justify-content: center; /* Centers vertically */
  gap: 5px;
}

.manual_style button {
  min-width: 144px;
  min-height: 36px;
  margin: 0;
}
.manual_style button:nth-of-type(2) {
  /* Your styles here */
  /* Example: Change background */
  margin-left: 0px !important;
}
